<html>
    <h1 id="header-text" style="text-align: center;">Curriculum Vitae</h1>
    <h3 id="header-text" style="text-align: center;">Dr. Landon J. Getz, PhD</h3>
    <h3 id="header-text" style="text-align:center;"><a href="mailto:landon.getz@dal.ca">landon.getz@dal.ca</a></h3>
    <!-- Socials -->
    <div style="text-align:center;">
         <a id="social-icon" href="https://www.linkedin.com/in/landongetz" class="fa fa-linkedin"></a>
         <a id="social-icon" href="https://www.twitter.com/landongetz" class="fa fa-twitter"></a>  
         <a id="social-icon" href="https://orcid.org/0000-0002-3841-1062" class="fa-brands fa-orcid"></a>  
         <a id="social-icon" href="https://scholar.google.ca/citations?hl=en&pli=1&user=cFMTBYMAAAAJ" class="ai ai-google-scholar"></a>
         <a id="social-icon" href="https://pubmed.ncbi.nlm.nih.gov/?term=Landon+Getz%5BAuthor%5D&sort=date" class="ai ai-pubmed"></a>
         <a id="social-icon" href="https://github.com/LandonGetz" class="fa fa-github"></a>
    </div>
</html>