<div class="sidebar">
  <div class="container sidebar-sticky">
    <div>
      <img src="{{ site.baseurl }}assets/images/profile.jpg">
    </div>
    <div class="sidebar-about">
      <h1>
          {{ site.title }}
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
	    <a class="sidebar-nav-item" href="{{ site.url }}#-executive-summary">Executive Summary</a>
      <a class="sidebar-nav-item" href="/#-education">Education</a>
      <a class="sidebar-nav-item" href="/#-publications">Publications</a>
      <a class="sidebar-nav-item" href="/#-conference-and-seminar-presentations">Conference and Seminar Presentations</a>
      <a class="sidebar-nav-item" href="#-teaching-and-mentoring">Teaching and Mentoring</a>
      <a class="sidebar-nav-item" href="#-awards">Awards</a>
      <a class="sidebar-nav-item" href="#-service">Service</a>
      <a class="sidebar-nav-item" href="#-media">Media and News</a>
      <hr>
      <a class="sidebar-nav-item" href="{{ site.url }}/blog">Go to Blog</a>
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      <span class="sidebar-nav-date">Last Updated {{ site.version }}</span>
    </nav>

    <p class="sidebar-nav-copyright">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
